#login-screen {
    padding-top: 30% ;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to right, #ffd717 0%, #ffd717 50%, #0da574 50%, #0da574 100%);
  
}
  
#login-screen:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
}


.login-card{
    border-radius: 20px;
}




@media only screen and (min-width: 600px) {
    #login-screen{
        padding-top: 10%;
    }
}